*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin

jxl.log
jmx.log
derby.log

.gradle
argfile*
/

/build

target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
F

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
